src/ClinicAppointmentRegistrationSystem/AMSTerminalClient/src/conf/wsdl/localhost_8080/AMSWebService/AMSWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="AMSWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/AMSWebService/AMSWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="viewAppointments">
<part name="parameters" element="tns:viewAppointments"/>
</message>
<message name="viewAppointmentsResponse">
<part name="parameters" element="tns:viewAppointmentsResponse"/>
</message>
<message name="InvalidLoginException">
<part name="fault" element="tns:InvalidLoginException"/>
</message>
<message name="registerPatient">
<part name="parameters" element="tns:registerPatient"/>
</message>
<message name="registerPatientResponse">
<part name="parameters" element="tns:registerPatientResponse"/>
</message>
<message name="doLogin">
<part name="parameters" element="tns:doLogin"/>
</message>
<message name="doLoginResponse">
<part name="parameters" element="tns:doLoginResponse"/>
</message>
<message name="addAppointment">
<part name="parameters" element="tns:addAppointment"/>
</message>
<message name="addAppointmentResponse">
<part name="parameters" element="tns:addAppointmentResponse"/>
</message>
<message name="cancelAppointment">
<part name="parameters" element="tns:cancelAppointment"/>
</message>
<message name="cancelAppointmentResponse">
<part name="parameters" element="tns:cancelAppointmentResponse"/>
</message>
<portType name="AMSWebService">
<operation name="viewAppointments">
<input wsam:Action="http://ws.session.ejb/AMSWebService/viewAppointmentsRequest" message="tns:viewAppointments"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/viewAppointmentsResponse" message="tns:viewAppointmentsResponse"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/AMSWebService/viewAppointments/Fault/InvalidLoginException"/>
</operation>
<operation name="registerPatient">
<input wsam:Action="http://ws.session.ejb/AMSWebService/registerPatientRequest" message="tns:registerPatient"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/registerPatientResponse" message="tns:registerPatientResponse"/>
</operation>
<operation name="doLogin">
<input wsam:Action="http://ws.session.ejb/AMSWebService/doLoginRequest" message="tns:doLogin"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/doLoginResponse" message="tns:doLoginResponse"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/AMSWebService/doLogin/Fault/InvalidLoginException"/>
</operation>
<operation name="addAppointment">
<input wsam:Action="http://ws.session.ejb/AMSWebService/addAppointmentRequest" message="tns:addAppointment"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/addAppointmentResponse" message="tns:addAppointmentResponse"/>
</operation>
<operation name="cancelAppointment">
<input wsam:Action="http://ws.session.ejb/AMSWebService/cancelAppointmentRequest" message="tns:cancelAppointment"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/cancelAppointmentResponse" message="tns:cancelAppointmentResponse"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/AMSWebService/cancelAppointment/Fault/InvalidLoginException"/>
</operation>
</portType>
<binding name="AMSWebServicePortBinding" type="tns:AMSWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="viewAppointments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
<operation name="registerPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="doLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
<operation name="addAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AMSWebService">
<port name="AMSWebServicePort" binding="tns:AMSWebServicePortBinding">
<soap:address location="http://localhost:8080/AMSWebService/AMSWebService"/>
</port>
</service>
</definitions>